services:

  guacd:
    image: ccop/guacd:{{ GUACD_VERSION }}
    container_name: guacd
    restart: unless-stopped
    networks:
      - guacnet

  postgres:
    image: ccop/postgres:{{ POSTGRES_VERSION }}
    container_name: guac-db
    restart: unless-stopped
    environment:
      POSTGRES_DB: {{ guac_db_name }}
      POSTGRES_USER: {{ guac_db_user }}
      POSTGRES_PASSWORD: {{ guac_db_pass }}
    volumes:
      - guac-db-data:/var/lib/postgresql
    networks:
      - guacnet

  guacamole:
    image: ccop/guacamole:{{ GUACAMOLE_VERSION }}
    container_name: guacamole
    restart: unless-stopped
    ports:
      - "{{ guacamole_port }}:8080"
    depends_on:
      - guacd
      - postgres
    environment:
      GUACD_HOSTNAME: guacd
      POSTGRESQL_HOSTNAME: postgres
      POSTGRESQL_DATABASE: {{ guac_db_name }}
      POSTGRESQL_USERNAME: {{ guac_db_user }}
      POSTGRESQL_PASSWORD: {{ guac_db_pass }}
      REMOTE_IP_VALVE_ENABLED: 'true'
      REMOTE_IP_VALVE_REMOTE_IP_HEADER: X-Forwarded-For
      REMOTE_IP_VALVE_PROTOCOL_HEADER: X-Forwarded-Proto

    networks:
      - guacnet

  nginx:
    image: ccop/nginx:{{ NGINX_VERSION }}
    container_name: nginx
    restart: unless-stopped
    ports:
      - "{{ nginx_port }}:443"
    volumes:
      - /var/lib/containers/nginx/nginx.conf:/etc/nginx/nginx.conf
      - /var/lib/containers/nginx/mime.types:/etc/nginx/mime.types
      - /var/lib/containers/nginx/ssl-dhparams.pem:/etc/nginx/ssl-dhparams.pem
      - /var/lib/containers/nginx/conf.d:/etc/nginx/conf.d:ro
      - /var/lib/containers/nginx/certs:/etc/nginx/certs:ro
    depends_on:
      - guacamole
    environment:
      WEBAPP_CONTEXT: ROOT
    networks:
      - guacnet

volumes:
  guac-db-data:

networks:
  guacnet:
    driver: bridge
